:root {
  --en-turno: Indigo;
  --en-espera-de-turno: rgba(0, 0, 0, 0.3);
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  padding: 10px 0;
  font-family: Arial, sans-serif;
}

.infinite-background-y{ 
  animation: infinite-background-y 60s linear infinite, op 1s infinite alternate;
}

@keyframes infinite-background-y {
  0% { background-position-y: 0; }
  100% { background-position-y: -100vh; }
}
@keyframes op {
  0% { opacity: 1 }
  100% { opacity: 0.5 }
}

#personalizar {
  position: fixed;
  left: 10px;
  top: 10px;
  color: dodgerblue;
}

.paper {
  border: 1px solid rgba(128, 128, 128, 0.1);
  padding: 15px;
  text-align: left;

  &:has(.url) {
    background-color: aliceblue;
    margin-top: 20px;
    & {
      border: 4px solid dodgerblue;
    }
    .boton-copiar {
      background-color: dodgerblue;
      padding: 15px;
      color: white;
    }
  }

  .url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-weight: bolder;
  }
}

.contenedor-bools {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;

  .paper {
    width: 40%;
  }
}

.marca {
  text-decoration: none;
  right: 10px;
  bottom: 10px;
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: yellowgreen;

  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 30px;

  transition: filter 0.3s;

  &:hover {
    filter: brightness(1.5);
  }

  img {
    height: 50px;
    border-radius: 50%;
    border: 3px solid yellowgreen;
  }
}

.msg {
  color: white;
  animation: titilar 0.3s alternate infinite;
}

@keyframes titilar {
  from {
    filter: opacity(1);
  }
  to {
    filter: opacity(0.1);
  }
}

.turno-h1 {
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
}

.app {
  display: flex;

  .pregunta,
  .opciones > .renglon-opn > div {
    padding: 13px 5px;
    border-radius: 15px;

    text-align: center;

    border: 3px solid darkblue;
  }

  .pregunta {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-weight: bolder;

    .justificacion {
      font-weight: bold;
      color: CornflowerBlue;
      border: 2px solid steelblue;
      border-radius: 20px;
      padding: 15px;
      margin: 10px;
    }
  }

  .opciones {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    font-weight: bolder;

    .index-opn {
      border-radius: 50% !important;
      width: 45px;
      height: 45px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 3px solid darkcyan !important;
    }

    .opcion{
      width: 100%;
      padding: 5px 10px;
    }

    & > .renglon-opn > div {
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}

.renglon-opn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  .index-opn {
    pointer-events: none;
  }
}

.participante {
  background: var(--bg);
  padding: 15px 10px;
  margin: 10px;
  border-radius: 20px;
  user-select: none;
}

.progress-container {
  display: flex;
  gap: 15px;
}

progress {
  width: 150px;
  height: 20px;
  border-radius: 10px;
  background-color: #ddd;
}

progress::-webkit-progress-bar {
  background-color: #ddd;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

progress::-webkit-progress-value {
  background: linear-gradient(0deg, green, #4caf50, #8bc34a, lightgreen);
  border-radius: 10px;
}

progress::-moz-progress-bar {
  background: linear-gradient(0deg, green, #4caf50, #8bc34a, lightgreen);
  border-radius: 10px;
}
