.codemirror-instance {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: max-content;

  border-radius: 20px;
  border: 1px solid #224;

  &.estilo-fila-mini {
    overflow: hidden;
  }

  iframe {
    border: 1px solid #224;
  }

  #ejecutar-codigo {
    display: flex;
    right: 10px;
    top: 10px;
    scale: 0.7;
    background-color: darkblue;
    border: 4px solid black;
    box-sizing: content-box;
    width: 40px;
    aspect-ratio: 1;
    z-index: 1;
  }
}

.MuiBox-root {
  margin: 0 !important;
  padding: 0 !important;
}

.editor-container {
  position: relative;
  height: 400px;
  
  .CodeMirror-scroll {
    overflow-x: auto;
  }
}


.op-0 {
  opacity: 0;
}

.d-none {
  display: none;
}

.fullWidth {
  width: 100%;
}

.CodeMirror {
  position: absolute;
  left: 5px;
  top: 10px;
  width: 100%;
  height: 95%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  font-size: 14px;
}
