body {
  background: black;
}

.diseño#ejercicio-4 {
  --aw: 11px; /* Valor que se aproxima al desface por redondeamiento de vertices */

  /* La diagonal vale sqrt(2) */

  /* dv (desface vertical):
        El excedente es: uno menos la diagonal (1-sqrt(2))
        Se convierte a porcentaje multiplicando por 100%
  */
  --dv: calc(
    100% * (1 - sqrt(2)) + var(--aw)
  ); 
  /* nw (nuevo width):
        es la diagonal
        Se convierte a porcentaje multiplicando por 100%
  */
  --nw: calc(100% * sqrt(2) - var(--aw)); 

  .roja,
  .azul {
    width: var(--nw);
  }

  .azul {
    top: calc(var(--dv) / 2);
  }
  .roja {
    top: calc(var(--dv) / -2);
  }
}
