body {
  background: black; /* Fondo negro */
}

.ejercicio {
  /* Estilos específicos para el ejercicio número 4 */
  &#ejercicio-2 {
    .capa{
      --ew: 1.4;
    }
    .azul {
      top: -20%;
      left: -20%;
    }
    .roja {
      top: 20%;
      left: -40%;
    }
    .verde {
      left: 10%;
    }
  }
}
