body {
  background: black; /* Fondo negro */
}

.ejercicio {
  /* Estilos específicos para el ejercicio número 4 */
  &#ejercicio-4 {
    /* Aumenta el ancho y centra horizontalmente las cajas roja y azul */
    .roja,
    .azul {
      --ew: 1.4;
    }
    /* Posición vertical individual para cada una */
    .azul {
      top: 30%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .roja {
      top: -30%;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
