body,
html {
  background: black; /* Fondo negro */
}

.ejercicio {
  /* Estilos específicos para el ejercicio número 4 */
  &#ejercicio-4 {
    /* Aumenta el ancho y centra horizontalmente las cajas roja y azul */
    .roja,
    .azul {
      width: 140%;
      left: 50%;
      transform: translateX(-50%);
    }
    /* Posición vertical individual para cada una */
    .azul {
      top: 30%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .roja {
      top: -30%;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    /* Posicionamiento específico para los elementos identificados como verde-1 y verde-2 */
    #verde-1 {
      left: 0;
      top: 0;
    }
    #verde-2 {
      left: 0;
      top: 0;
      transform: rotate(45deg);
    }
  }
}
