/* CSS general para todos los ejercicios----- */

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  font-size: 140%;
  user-select: none;
  font-family: sans-serif, Arial, Helvetica;
}

.ocultar-salidas {
  overflow: hidden;
}

.centrar-capas-primer-nivel {
  & > .capa {
    --tx: -50% !important;
    --ty: -50% !important;
    left: 50%;
    top: 50%;
  }
}

.centrar-capas {
  .capa {
    --tx: -50% !important;
    --ty: -50% !important;
    left: 50%;
    top: 50%;
  }
}

.diseño {
  width: 150px;
  height: 150px;
  position: relative;

  &.screen {
    .capa {
      mix-blend-mode: screen;
      box-shadow: 0 0 15px var(--color-capa);
    }
  }

  &.sin-redondeo {
    .capa {
      border-radius: 0;
    }
  }

  .centralizar-capas {
    .capa {
      --tx: -50%;
      --ty: -50%;
    }
  }
  .capas-blancas {
    .capa {
      --color-capa: white;
    }
  }

  .capa {
    --tx: 0;
    --ty: 0;
    --escala: 1;
    --angulo-rotar: 0;
    --color-capa: none;
    position: absolute;
    cursor: pointer;

    width: calc(100% * var(--escala));
    height: calc(100% * var(--escala));

    border-radius: 15px;
    background: var(--color-capa);

    transform: translate(var(--tx), var(--ty)) rotate(var(--angulo-rotar));

    &:hover{
      border: 3px solid red !important;
      filter: drop-shadow(0 0 10px white);
    }

    &.texto {
      width: fit-content;
      height: fit-content;

      &.bolder {
        font-weight: bolder;
      }
    }

    &.circular {
      border-radius: 50%;
    }

    &.cuadrada {
      border-radius: 0;
    }

    &.mitad-ancho {
      width: 50%;
    }
    &.mitad {
      --escala: 0.5;
    }
    &.rotar-45 {
      --angulo-rotar: -45deg;
    }
    &.rotar45 {
      --angulo-rotar: 45deg;
    }
    &.abajo {
      bottom: 0;
    }
    &.derecha {
      right: 0;
    }

    &.centrado-horizontal {
      left: 50%;
      --tx: -50%;
    }

    &.centralizada {
      --tx: -50%;
      --ty: -50%;
    }

    &.centrar {
      --tx: -50%;
      --ty: -50%;
      left: 50%;
      top: 50%;
    }

    &.p-event-none {
      pointer-events: none;
    }

    &.backdrop-invert {
      backdrop-filter: invert();
    }

    &.roja {
      --color-capa: red;
    }
    &.naranja {
      --color-capa: darkorange;
    }
    &.verde {
      --color-capa: lime;
    }
    &.azul {
      --color-capa: blue;
    }
    &.blanca {
      --color-capa: white;
    }
    &.negra {
      --color-capa: black;
    }
  }
}
