body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  font-size: 140%;
  user-select: none;
  font-family: sans-serif, Arial, Helvetica;
}

.ejercicio {
  width: 150px;
  height: 150px;
  position: relative;

  &.screen {
    .capa {
      mix-blend-mode: screen;
      box-shadow: 0 0 15px var(--fondo);
    }
  }

  &.bd-invert {
    .capa {
      backdrop-filter: invert();
    }
  }

  &.sin-redondeo {
    .capa {
      border-radius: 0;
    }
  }

  &.centradas {
    .capa {
      --tx: -50%;
      --ty: -50%;
      left: 50%;
      top: 50%;
    }
  }
  .centralizadas {
    .capa {
      --tx: -50%;
      --ty: -50%;
    }
  }
  .blancas {
    .capa {
      --fondo: white;
    }
  }
  &.hijas-centradas {
    & > .capa {
      --tx: -50%;
      --ty: -50%;
      left: 50%;
      top: 50%;
    }
  }

  .bordear-hijos-blanco {
    & > .capa {
      border: 7px solid white;
    }
  }

  .capa {
    --tx: 0;
    --ty: 0;
    --e: 1;
    --ew: 1;
    --eh: 1;
    --e-powsin: 0;
    --a: 0;
    position: absolute;
    width: calc(100% * var(--e) * var(--ew));
    height: calc(100% * var(--e) * var(--eh));

    border-radius: 15px;
    background: var(--fondo);

    transform: translate(var(--tx), var(--ty)) rotate(var(--a))
      scale(pow(sin(45deg), var(--e-powsin)));

    &.texto {
      width: fit-content;
      height: fit-content;

      &.bolder {
        font-weight: bolder;
      }
    }

    &.circular {
      border-radius: 50%;
    }

    &.cuadrada {
      border-radius: 0;
    }

    &.mitad-ancho {
      width: 50%;
    }
    &.mitad {
      --e: 0.5;
    }
    &.rotar-45 {
      --a: -45deg;
    }
    &.rotar45 {
      --a: 45deg;
    }
    &.abajo {
      bottom: 0;
    }
    &.derecha {
      right: 0;
    }

    &.centrado-horizontal {
      left: 50%;
      --tx: -50%;
    }

    &.centralizada {
      --tx: -50%;
      --ty: -50%;
    }

    &.centrada {
      --tx: -50%;
      --ty: -50%;
      left: 50%;
      top: 50%;
    }

    &.p-event-none {
      pointer-events: none;
    }

    &.roja,
    &.verde,
    &.azul,
    &.blanca,
    &.naranja,
    &.negra {
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }

    &.roja {
      --fondo: red;
    }
    &.naranja {
      background: darkorange;
    }
    &.verde {
      --fondo: lime;
    }
    &.azul {
      --fondo: blue;
    }
    &.blanca {
      --fondo: white;
    }
    &.negra {
      background: black;
    }
  }
}
