body {
  /* Con respecto al 10, este es el único cambio */
  background: radial-gradient(
    circle at center,
    darkred,
    black 70%
  );
}

.diseño#ejercicio-16 {
  .naranja {
    border: 7px solid orangered;
    background: radial-gradient(
        circle at 35% 35%,
        rgba(255, 255, 255, 0.7) 10px,
        rgba(255, 255, 255, 0.4) 20px,
        transparent 20px
      ),
      radial-gradient(
        circle at 50% 50%,
        rgba(255, 255, 255, 0.4) 10px,
        transparent 10px
      ),
      radial-gradient(
        circle at 40% 40%,
        orange,
        orangered 55%,
        darkorange 57%,
        Tomato 70%
      );
  }
  .texto {
    font-size: 200%;
    color: black;
    mix-blend-mode: overlay;
  }
}
