body,
html {
  background: white;
}

.ejercicio {
  &#ejercicio-9 {
    .capa{
      border: 7px solid white;
      cursor: pointer;
      &:hover{
        opacity: 0.7;
      }
    }
    #marco-interno, #fondo{
      border-radius: 25%;
    }
    #marco-interno{
      --e: 0.65;
      #AF{
        --e:0;
        top: 10px;
        right: 10px;
      }
    }
    #lente{
      --e: 0.3;
    }
    #fondo {
      background: radial-gradient( circle at 25% 80%, #fcb045, #fd1d1d, #833ab4);
    }
  }
}
