body {
  background: white;
}

.diseño#ejercicio-9 {
  .capa {
    border: 7px solid white;
    cursor: pointer;
  }
  #marco-interno,
  #fondo {
    border-radius: 25%;
  }
  #fondo {
    /* Con respecto al ejercicio 8, este es el único cambio */
    background: radial-gradient(circle at 25% 80%, #fcb045, #fd1d1d, #833ab4);
  }
  #marco-interno {
    --escala: 0.65;
    #AF {
      --escala: 0;
      top: 10px;
      right: 10px;
    }
  }
  #lente {
    --escala: 0.3;
  }
}
