body{
  /* Con respecto al 10, este es el único cambio */
  background: radial-gradient(
    circle at center,
    white 35%,
    Moccasin 40%,
    darkorange 45%,
    darkred 55%,
    black 70%
  );
}

.diseño#ejercicio-11 {
    .marco {
      --escala: 1.3;
      border-top: 3px solid darkred;
      overflow: hidden;
    }
}
