body {
  background: linear-gradient(to right top, black, darkred, black);
}

.diseño#ejercicio-12 {
  .borde-negro {
    border: 5px solid black;
  }
  #izquierda-arriba {
    right: 50%;
    bottom: 50%;
  }

  #derecha-abajo {
    left: 50%;
    top: 50%;
  }
}
